.course-section {
  background: url('../img/cover-course.jpg') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 140px 0 40px;
  width: 100%;
  height: auto;
}
.course-section h1 {
  margin-top: 38px;
}
.course-section img {
  display: block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 150px;
  height: 150px;
  -khtml-border-radius: 50%;
}
.course-section h1,
.course-section h5 {
  color: #1abc9c;
}
.course-section a {
  margin-left: 5px;
  color: #2c3e50;
}
.course-section a:hover {
  color: #2c3e50;
  text-decoration: underline;
}
.course-section .age {
  top: 0;
  left: 116px;
  text-align: center;
  padding: 12px 0 0 0;
  width: 50px;
  height: 50px;
  margin-left: 0;
}
.tabs-profile {
  text-align: center;
  padding: 10px 20px 0;
  background: #ffffff;
  width: 100%;
}
.tabs-profile .nav-pills > li.active a {
  background: none!important;
  border-bottom: 3px solid #1abc9c;
  color: #1abc9c;
}
.tabs-profile .nav-tabs > li,
.tabs-profile .nav-pills > li {
  float: none;
  display: inline-block;
}
.tabs-profile .nav-tabs > li a,
.tabs-profile .nav-pills > li a {
  color: #2c3e50;
  border-radius: 0;
}
.tabs-profile .nav-tabs {
  text-align: center;
}
.video-section {
  background: #000;
}
.video-section nav a {
  position: absolute;
  top: 240px;
  display: block;
  outline: none;
  text-align: left;
  z-index: 1000;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.video-section nav a.prev {
  left: 0;
}
.video-section nav a.next {
  right: 0;
}
.video-section .nav-reveal a {
  overflow: hidden;
  width: 40px;
  height: 120px;
  background-color: #ffffff;
  -webkit-transition: width 0.4s, background-color 0.4s;
  transition: width 0.4s, background-color 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.video-section .nav-reveal .icon-wrap {
  text-align: center;
  position: absolute;
  z-index: 100;
  padding: 51px 4px;
  width: 40px;
}
.video-section .nav-reveal a.prev .icon-wrap {
  left: 0;
}
.video-section .nav-reveal a.next .icon-wrap {
  right: 0;
}
.video-section .nav-reveal svg.icon {
  fill: #af7ac4;
}
.video-section .nav-reveal div {
  position: absolute;
  top: 0;
  padding: 0 50px;
  width: 400px;
  height: 100%;
}
.video-section .nav-reveal a.prev div {
  left: 0;
  padding-right: 130px;
  text-align: right;
}
.video-section .nav-reveal a.next div {
  right: 0;
  padding-left: 130px;
}
.video-section .nav-reveal h3 {
  position: relative;
  margin: 0;
  padding: 20px 0;
  color: #2c3e50;
  font-weight: 300;
  font-size: 1.45em;
  line-height: 1.2;
}
.video-section .nav-reveal div h3 span {
  display: block;
  padding-top: 10px;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 50%;
}
.video-section .nav-reveal img {
  position: absolute;
  top: 0;
  height: 120px;
  width: 120px;
}
.video-section .nav-reveal a.prev img {
  right: 0;
}
.video-section .nav-reveal a.next img {
  left: 0;
}
.video-section .nav-reveal a:hover {
  width: 400px;
  background-color: #ffffff;
}
.course .btn {
  margin-left: 20px;
}
.course .ribbon {
  position: absolute;
  right: -6px;
  top: -6px;
  width: 100px!important;
  height: auto;
  z-index: 99;
}
.course .small-profile:hover,
.course .ribbon:hover {
  opacity: 1!important;
  -webkit-transform: scale3d(1, 1, 1) !important;
  transform: scale3d(1, 1, 1) !important;
}
.course div.col-lg-3 {
  padding: 0;
}
.course div.col-lg-3 img {
  height: auto;
  width: 100%;
}
.col-sm-6.course .ribbon {
  right: 25px;
  top: 29px;
}
.btn.btn-default.join {
  font-weight: 900;
  font-size: 14px;
  border-radius: 0;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.btn.btn-default.join:hover {
  background: #1abc9c;
}
@media screen and (max-width: 991px) {
  body .course-section {
    text-align: center;
  }
  body .course-section img {
    margin: 0 auto;
  }
  body .course-section span.age {
    left: initial;
    margin-left: 30px;
  }
  .student-card .panel-body {
    max-width: 300px;
  }
}
#ask {
  margin-top: 0px!important;
}
