.navbar-form {
  display: inline-block;
  float: left;
  margin-bottom: 0px;
}
.navbar-form .input-group {
  min-width: 600px;
  overflow: hidden;
}
.navbar-form .input-group button {
  height: 30px;
  font-size: 18px;
  border: none;
  color: #53d289;
  border-right: 1px solid #53d289;
  border-radius-right: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.navbar-form .input-group button:hover {
  background: #ffffff;
  color: #53d289;
}
.navbar-form .input-group .input-group-btn {
  max-width: 12px;
}
.input-group {
  margin: 1px 0 0px;
}
.form-control {
  height: 30px;
}
.input-group {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}
.input-group.current {
  border: 1px solid #53d289;
}
.input-group.current input {
  color: #53d289;
}
.input-group.current i {
  color: #53d289;
}
.input-group.submit {
  margin: 8px 0 0;
  min-width: 100%;
  background: #2c3e50;
  color: #ffffff;
}
.input-group .input-group-addon {
  border-radius: 0;
  background: none;
  border: 0px;
  border-right: 0px;
  min-width: 41px;
}
.input-group i {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-size: 20px;
}
.input-group .form-control {
  border: 0px;
}
.input-group:hover {
  border: 1px solid #53d289;
}
.form-control:focus .input-group {
  border: 1px solid #53d289;
}
input[type="submit"] {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border: none;
  background: #2c3e50;
  color: #ffffff;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #53d289;
  color: #ffffff;
}
