.navbar-form {
  display: inline-block;
  float: left;
  margin-bottom: 0px;
}
.navbar-form .input-group {
  min-width: 600px;
  overflow: hidden;
}
.navbar-form .input-group button {
  height: 30px;
  font-size: 18px;
  border: none;
  color: #1abc9c;
  border-right: 1px solid #1abc9c;
  border-radius-right: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.navbar-form .input-group button:hover {
  background: #ffffff;
  color: #1abc9c;
}
.navbar-form .input-group .input-group-btn {
  max-width: 12px;
}
.input-group {
  margin: 1px 0 0px;
}
.form-control {
  height: 30px;
}
.input-group {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}
.input-group.current {
  border: 1px solid #1abc9c;
}
.input-group.current input {
  color: #1abc9c;
}
.input-group.current i {
  color: #1abc9c;
}
.input-group.submit {
  margin: 8px 0 0;
  min-width: 100%;
  background: #2c3e50;
  color: #ffffff;
}
.input-group .input-group-addon {
  border-radius: 0;
  background: none;
  border: 0px;
  border-right: 0px;
  min-width: 41px;
}
.input-group i {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-size: 20px;
}
.input-group .form-control {
  border: 0px;
}
.input-group:hover {
  border: 1px solid #1abc9c;
}
.form-control:focus .input-group {
  border: 1px solid #1abc9c;
}
input[type="submit"] {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border: none;
  background: #2c3e50;
  color: #ffffff;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #1abc9c;
  color: #ffffff;
}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 350px;
  width: 100%;
  vertical-align: top;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}
.input__label {
  display: inline-block;
  float: right;
  padding: 0 20px;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.icon {
  color: #ddd;
  font-size: 150%;
}
/* Hoshi */
.input--hoshi {
  overflow: hidden;
}
.input__field--hoshi {
  margin-top: 1.1em;
  padding: 0.85em 0.15em;
  width: 100%;
  background: transparent;
  color: #1abc9c;
}
.settings-panel input {
  float: left;
}
.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(98.5%);
  text-align: left;
  pointer-events: none;
}
.input__label-content--hoshi {
  position: absolute;
}
.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #B9C1CA;
}
.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 4px solid red;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.input__label--hoshi::after {
  border-color: #1abc9c;
}
.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -30%, 0);
    transform: translate3d(-1em, -30%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }
}
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -30%, 0);
    transform: translate3d(-1em, -30%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }
}
