.panel {
  border-radius: 0;
  border: 0;
}
.panel h1,
.panel h2 {
  margin-top: 0;
}
.result {
  margin-bottom: 0;
  background: #1abc9c;
}
.result h2 {
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.tab-pane.register {
  padding-top: 0;
}
.register-button {
  margin-top: 20px;
}
.panel.panel-default.actions .panel-heading {
  background: #1abc9c;
  border-bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel.panel-default.actions .panel-heading h3 a,
.panel.panel-default.actions .panel-heading h3,
.panel.panel-default.actions .panel-heading h1 {
  color: #ffffff;
  font-weight: 900;
}
.panel.panel-default.actions .panel-heading a {
  color: #2c3e50;
}
.panel.panel-default.actions .panel-body {
  padding: 0;
}
.panel.panel-default.actions .panel-body.padding-panel {
  padding: 20px;
}
.panel.panel-default.actions .panel-body.padding-panel img {
  float: left;
}
.panel.panel-default.actions .list-group {
  font-size: 1em;
  margin-bottom: 0;
  border-radius: 0;
}
.panel.panel-default.actions .list-group .active {
  background: none;
  border-left: 4px solid #2c3e50 !important;
  color: #2c3e50;
  padding-left: 20px;
}
.panel.panel-default.actions .list-group .list-group-item {
  border: 0;
  overflow: hidden;
  display: block;
}
.panel.panel-default.actions .list-group .tutor-list {
  background: none;
}
.panel.panel-default.actions .list-group .edit-lesson,
.panel.panel-default.actions .list-group .delete-lesson {
  color: #2c3e50;
  position: absolute;
  right: 60px;
  margin-top: -30px;
}
.panel.panel-default.actions .list-group .edit-lesson i,
.panel.panel-default.actions .list-group .delete-lesson i {
  padding: 5px;
}
.panel.panel-default.actions .list-group .delete-lesson {
  right: 20px;
}
.panel.panel-default.actions .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel.panel-default.actions .list-group .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.panel.panel-default.description .panel-body {
  padding: 0;
}
.panel.panel-default.description .panel-body p {
  padding: 30px;
  margin: 0;
}
.panel.panel-default.description .panel-body img {
  width: 100%;
  display: block;
}
.panel.panel-default.course-panel:hover .rating,
.panel.panel-default.course-panel:hover .creator {
  display: block!important;
}
.panel.panel-default.course-panel {
  overflow: hidden;
}
.panel.panel-default.course-panel h4.rating {
  position: absolute;
  top: 43px;
  left: 7px;
  display: none;
  padding-left: 18px;
  color: #ffffff !important;
}
.panel.panel-default.course-panel p.creator {
  position: absolute;
  top: 15px;
  left: 5px;
  display: none;
  padding-left: 18px;
  color: #ffffff !important;
}
.panel.panel-default.course-panel img {
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  height: auto;
  width: 100%;
}
.panel.panel-default.course-panel .panel-body {
  padding: 0;
  overflow: hidden;
}
.panel.panel-default.course-panel .panel-body h4,
.panel.panel-default.course-panel .panel-body h1,
.panel.panel-default.course-panel .panel-body h3,
.panel.panel-default.course-panel .panel-body p,
.panel.panel-default.course-panel .panel-body small {
  padding: 0 20px;
}
.panel.panel-default.course-panel .panel-body small {
  color: #2c3e50;
}
.panel.panel-default.course-panel .panel-body h4 {
  margin-bottom: 0px!important;
  font-weight: 900;
}
.panel.panel-default.course-panel .panel-body h1 {
  margin-top: 40px;
}
.panel.panel-default.course-panel .panel-body h1 strong {
  line-height: 1;
}
.panel.panel-default.course-panel .panel-body .col-xs-12.col-lg-3 {
  overflow: hidden;
}
.panel.panel-default.course-panel .panel-body .col-xs-12.col-lg-3 img {
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  height: auto;
  width: 100%;
}
.panel.panel-default.course-panel .panel-body img:hover {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}
.settings-panel .input-group,
.settings-panel textarea.form-control {
  max-width: 400px;
}
.settings-panel input {
  width: auto;
}
.playlist-panel ::-webkit-scrollbar {
  width: 12px;
}
.playlist-panel ::-webkit-scrollbar-thumb {
  background: #2c3e50;
}
.playlist-panel ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(44, 62, 80, 0.5);
}
.playlist-panel .list-group,
.playlist-panel #list-lessons {
  position: relative;
  overflow: auto;
  max-height: 250px;
}
.playlist-panel .list-group-item {
  height: auto;
  overflow: hidden;
}
.playlist-panel .active {
  font-weight: 900;
}
.follow .author-card .student-card {
  margin-bottom: 0;
}
.author-card .student-card {
  margin: 0 10px 30px;
}
.author-card hr {
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%;
}
.author-card .panel-heading {
  background: #1abc9c;
  border-radius: 0;
}
.author-card .panel-heading h3 {
  color: #ffffff;
  font-weight: 900;
}
.student-card {
  margin-bottom: 10px;
}
.student-card img {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.student-card h4 {
  margin: 20px 10px 10px 20px;
  display: block;
  float: left;
  max-width: 150px;
}
.student-card small {
  margin: 0 10px 0 20px;
  display: block;
  float: left;
  max-width: 100px;
  min-width: 100px;
}
.student-card .row p {
  padding: 0 20px;
}
.student-card span.country {
  margin-left: 0;
  left: 125px;
  top: 25px;
  width: 25px;
  height: 25px;
  background-size: 30px!important;
}
.student-card .author span.country {
  top: initial;
  margin-top: 10px;
}
.student-card span.age {
  margin-left: 0;
  left: 130px;
  top: 55px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 2px 0 0 0;
  font-size: 12px;
}
.student-card .author span.age {
  top: initial;
  margin-top: 40px;
  left: 120px;
  margin-left: 10px;
}
.small-profile {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  float: left;
  width: 30px!important;
  height: 30px;
  margin-right: 5px;
}
.course strong {
  line-height: 2;
}
.tab-content ::-webkit-scrollbar {
  width: 12px;
}
.tab-content ::-webkit-scrollbar-thumb {
  background: #2c3e50;
}
.tab-content ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(44, 62, 80, 0.5);
}
.tab-content .panel.panel-default.actions:first-child {
  height: 300px;
  overflow: auto;
}
.message-list {
  margin-top: 30px;
}
.message-list .btn.btn-default {
  position: absolute;
  right: 38px;
  background: none;
  border: none;
  font-size: 18px;
  top: 36px;
  padding: 0px 5px;
}
.message-list a {
  line-height: 2;
  cursor: pointer;
}
.message-list a .badge {
  background: #2c3e50;
  top: 3px;
  position: absolute;
  right: 10px;
  top: 14px;
}
.author-card.student-card {
  margin-bottom: 30px;
}
.status .heading {
  margin-bottom: 0;
  overflow: hidden;
}
.status .heading img {
  margin-bottom: 0;
}
.status p {
  padding: 20px 20px 5px;
  line-height: 2;
}
.status p:first-child {
  margin-bottom: 0;
}
.status hr {
  margin-top: 0;
  width: 100%;
}
.status img {
  width: 100%;
  margin-bottom: 20px;
}
.status .content-status {
  margin: 0 20px;
}
.status .course .panel-body {
  border: 1px solid #efefef;
}
.status .course .panel-body div:first-child img {
  margin: 0;
}
.status .course .panel-body p:last-child {
  line-height: 1;
  float: left;
}
.clock {
  display: block;
  color: #2c3e50;
  margin: 0 0 20px 20px;
  font-size: 18px;
}
.clock i {
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
}
.no-timeline h2 {
  margin-bottom: 0;
}
.no-messages {
  padding-top: 34vh;
}
.no-messages .btn.btn-default {
  background: none;
  border: none;
}
.missing-page {
  background: #2c3e50;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  text-align: center;
}
.missing-page img {
  display: block;
  margin: 0 auto;
}
.missing-page h1 {
  font-weight: 900;
  font-size: 6em;
}
.missing-page p {
  color: #ffffff;
  font-size: 2em;
}
.missing-page a:hover {
  color: #1abc9c;
  text-decoration: underline;
}
@media screen and (max-width: 500px) {
  .settings-panel,
  .action {
    margin: 30px 0 0 0;
  }
  body .course-section img {
    margin: 0 auto;
  }
  body .status .content-status {
    margin: 0;
  }
  body .status .content-status .course .panel.panel-default {
    margin: 0;
  }
  body .status hr {
    display: none;
  }
  body .tabs-profile {
    padding: 0!important;
  }
  body .tabs-profile .container {
    padding: 0;
  }
  body .tabs-profile .nav.nav-pills li {
    font-size: 12px;
  }
}
.question strong {
  line-height: 2;
}
.bio p {
  margin-bottom: 0;
}
.results .list-group-item.active .badge {
  color: #1abc9c;
  background: #ffffff;
}
.results .list-group-item .badge {
  background: #2c3e50;
}
@media screen and (max-width: 739px) {
  html .front-video .embed-responsive {
    min-height: 1px;
  }
}
.submit .form-control {
  border-radius: 0;
}
/* Common style */
figure {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  text-align: left;
}
figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
figure .small-profile {
  opacity: 1!important;
}
figure figcaption {
  padding: 1em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure figcaption::before,
figure figcaption::after {
  pointer-events: none;
}
figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
figure h2 a {
  font-weight: 300;
  color: #ffffff !important;
}
figure h2,
figure p {
  margin: 0;
}
.grid figure p {
  font-size: 100%;
}
/* Individual effects */
/*-----------------*/
/***** Winston *****/
/*-----------------*/
figure.effect-winston {
  background: #162633;
  text-align: left;
}
figure .fa-fw {
  text-align: right;
  width: 1em;
}
figure.effect-winston img {
  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure.effect-winston figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/triangle.svg) no-repeat center center;
  background-size: 100% 100%;
  content: '';
  -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: opacity 0.45s, transform 0.45s;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 1;
}
figure.effect-winston h2 {
  display: none;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  font-size: 1em;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
figure.effect-winston p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 .5em 1em 0!important;
}
figure.effect-winston a {
  margin: 0px;
  font-size: 100%;
}
figure.effect-winston a:hover,
figure.effect-winston a:focus {
  color: #cc6055;
}
figure.effect-winston p a i {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
.course-panel:hover img {
  opacity: 0.6;
}
.course-panel:hover h2 {
  color: white;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.course-panel:hover figcaption::before {
  opacity: 0.7;
  -webkit-transform: rotate3d(0, 0, 1, 20deg);
  transform: rotate3d(0, 0, 1, 20deg);
}
.course-panel:hover p i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.course-panel:hover p a:nth-child(3) i {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.course-panel:hover p a:nth-child(2) i {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.course-panel:hover p a:first-child i {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
