.absolute-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #2c3e50;
  color: #ffffff;
  position: fixed;
  overflow-y: hidden;
  z-index: 9999;
}
.absolute-screen h2 {
  margin-top: 23%;
  color: #ffffff;
  font-size: 2em;
  font-weight: 900;
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}
.full-screen {
  padding: 30px 0 0px;
  min-height: 100vh;
  height: auto;
  width: 100%;
}
.full-screen .more {
  text-align: center;
  max-width: 50px;
  margin: 50px auto 0;
  display: block;
  color: #1abc9c;
}
.full-screen .more:hover {
  opacity: .7;
}
.full-screen .users-left {
  margin-bottom: 20px;
  font-weight: 300;
}
.full-screen .col-sm-3 i {
  text-align: center;
  display: block;
  margin: 10px auto;
}
.full-screen .col-sm-3 p {
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 0;
}
.full-screen .course .social {
  margin-bottom: 20px;
}
.full-screen.us {
  background: url(../img/86.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-screen.main-screen {
  background: url(../img/dsc.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1px!important;
  padding-bottom: 30px;
}
.full-screen.main-screen > img {
  display: block;
  margin: 0 auto;
}
.full-screen.main-screen h2 {
  color: #2c3e50;
  margin-bottom: 40px;
}
.full-screen.teach-screen {
  background: url(../img/19.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
}
.full-screen.explore {
  background: url(../img/study.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px!important;
}
.full-screen.explore h1 {
  text-align: center;
  margin-top: 70px;
  color: #ffffff;
}
.full-screen.explore.new-here {
  background-image: url(../img/IMG_1474.jpg) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px!important;
}
.full-screen.learn-screen {
  background: #ffffff;
}
.full-screen.learn-screen img {
  display: block;
  margin: 0 auto;
}
.full-screen.learn-screen,
.full-screen.explore {
  padding: 65px 0 80px;
  display: block;
  min-height: 1px;
}
.full-screen.learn-screen div > h1,
.full-screen.explore div > h1 {
  margin-bottom: 60px;
  font-weight: 900;
}
.full-screen.learn-screen.like-it div > h1,
.full-screen.explore.like-it div > h1 {
  margin-bottom: 20px;
}
.full-screen.learn-screen.like-it p,
.full-screen.explore.like-it p {
  display: block;
  color: #ffffff;
}
.full-screen.learn-screen.like-it .btn.btn-default,
.full-screen.explore.like-it .btn.btn-default {
  border: 3px solid #1abc9c;
  background: #1abc9c;
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
}
.full-screen.testimonials {
  background: #1abc9c;
  padding: 65px 0 80px;
  min-height: 1px;
  color: #ffffff;
  text-align: center;
}
.full-screen.testimonials h1,
.full-screen.testimonials h3 {
  color: #ffffff;
  text-align: center;
  font-weight: 900;
}
.full-screen.testimonials i {
  display: block;
}
.full-screen.testimonials .carousel-indicators {
  bottom: 0px;
}
.full-screen.testimonials .carousel-inner h3 {
  padding: 10px 0 40px;
}
.full-screen h2 {
  font-weight: 900;
}
.carousel-section {
  background: #1abc9c;
}
.carousel-section div > h2 {
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0;
  padding-top: 5px;
}
