.full-screen {
  padding: 170px 0 20px;
  min-height: 100vh;
  height: auto;
  width: 100%;
}
.full-screen .more {
  text-align: center;
  max-width: 50px;
  margin: 50px auto 0;
  display: block;
  color: #1abc9c;
}
.full-screen .more:hover {
  opacity: .7;
}
.full-screen .col-sm-3 i {
  text-align: center;
  display: block;
  margin: 10px auto;
}
.full-screen .col-sm-3 p {
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 0;
}
.full-screen.main-screen {
  background: url(../img/74__2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-screen.teach-screen {
  background: url(../img/19.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-screen.explore {
  background: url(../img/study.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px!important;
}
.full-screen.explore h1 {
  text-align: center;
  margin-top: 70px;
  color: #ffffff;
}
.full-screen.learn-screen,
.full-screen.explore {
  padding: 80px 0 80px;
  display: block;
  min-height: 1px;
}
.full-screen.learn-screen div > h1,
.full-screen.explore div > h1 {
  margin-bottom: 40px;
  font-weight: 900;
}
.full-screen.testimonials {
  background: #1abc9c;
  padding: 80px 0 80px;
  min-height: 1px;
  color: #ffffff;
  text-align: center;
}
.full-screen.testimonials h2,
.full-screen.testimonials h3 {
  color: #ffffff;
  text-align: center;
}
.full-screen.testimonials i {
  display: block;
}
.full-screen.testimonials .carousel-indicators {
  bottom: 0px;
}
.full-screen.testimonials .carousel-inner h3 {
  padding: 10px 0 40px;
}
.full-screen h2 {
  font-weight: 900;
}
