#team {
  padding: 30px 0 20px;
}
.full-screen {
  padding: 100px 0 0px;
  height: auto;
  min-height: calc(100% - 118px);
  width: 100%;
}
.full-screen p {
  max-width: 420px;
  font-size: 1.2em;
  color: #000;
}
.full-screen .course {
  margin-top: 70px!important;
}
.full-screen .course p {
  max-width: 100%;
}
.full-screen h2 {
  color: #2c3e50;
  margin: 100px 0 10px;
}
.full-screen .more {
  text-align: center;
  max-width: 50px;
  margin: 50px auto 0;
  display: block;
  color: #1abc9c;
}
.full-screen .more:hover {
  opacity: .7;
}
.full-screen .users-left {
  margin-bottom: 20px;
  font-weight: 300;
}
.full-screen .col-sm-3 i {
  text-align: center;
  display: block;
  margin: 10px auto;
}
.full-screen .col-sm-3 p {
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 0;
}
.full-screen .course .social {
  margin-bottom: 20px;
}
.full-screen.us {
  background: url(../img/people.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-screen.biznes {
  background: url(../img/people.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 150px 0 100px;
}
.full-screen.main-screen {
  background: url(../img/desc.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 0px;
}
.full-screen.main-screen > img {
  display: block;
  margin: 0 auto;
}
.full-screen.main-screen .nav-tabs > li.active > a {
  border-color: transparent;
}
.full-screen.teach-screen {
  background: url(../img/19.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  margin-bottom: -55px;
}
.full-screen.explore {
  background: url(../img/study.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px!important;
}
.full-screen.explore h1 {
  text-align: center;
  margin-top: 70px;
  color: #ffffff;
}
.full-screen.explore.new-here {
  background-image: url(../img/IMG_1474.jpg) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px!important;
}
.full-screen.learn-screen {
  background: #ffffff;
}
.full-screen.learn-screen img {
  display: block;
  margin: 0 auto;
}
.full-screen.learn-screen h1,
.full-screen.learn-screen h3 {
  color: #2c3e50;
  font-weight: 900;
}
.full-screen.learn-screen,
.full-screen.explore {
  padding: 65px 0 80px;
  display: block;
  min-height: 1px;
}
.full-screen.learn-screen div > h1,
.full-screen.explore div > h1 {
  margin-bottom: 60px;
  font-weight: 900;
}
.full-screen.learn-screen.like-it,
.full-screen.explore.like-it {
  margin-top: 54px;
}
.full-screen.learn-screen.like-it div > h1,
.full-screen.explore.like-it div > h1 {
  margin-bottom: 20px;
}
.full-screen.learn-screen.like-it p,
.full-screen.explore.like-it p {
  display: block;
  color: #ffffff;
}
.full-screen.learn-screen.like-it .btn.btn-default,
.full-screen.explore.like-it .btn.btn-default {
  border: 3px solid #1abc9c;
  background: #1abc9c;
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
}
.full-screen.testimonials {
  background: url(../img/lights.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 65px 0 80px;
  min-height: 1px;
  color: #ffffff;
}
.full-screen.testimonials h1,
.full-screen.testimonials h3 {
  color: #ffffff;
  text-align: center;
  font-weight: 900;
}
.full-screen.testimonials .panel {
  position: relative;
}
.full-screen.testimonials .panel .panel-heading {
  background: #1abc9c;
  color: #ffffff;
  border-bottom: 0;
  border-radius: 0;
  font-size: 1.3em;
  padding: 20px;
}
.full-screen.testimonials .panel .panel-body {
  color: #2c3e50;
}
.full-screen.testimonials .panel .panel-body p {
  margin-bottom: 0;
  max-width: 100%;
}
.full-screen.testimonials .panel.place {
  margin-top: 50px!important;
}
.full-screen.testimonials .panel:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  bottom: -30px;
  right: 0;
}
.full-screen.testimonials .col-sm-6 {
  padding-bottom: 30px;
}
.full-screen h2 {
  font-weight: 900;
}
.reviews div > h2 {
  text-align: center;
  color: #1abc9c;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 30px;
}
.reviews div > a {
  margin: 0 auto;
}
.reviews {
  background: url(../img/lights.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 40px 0;
  margin-bottom: -54px;
}
.reviews .panel {
  overflow: hidden!important;
}
.reviews .content-status p {
  margin: 0 0px 15px 0;
  padding: 0 0 15px 0;
}
.reviews.status .heading {
  padding: 15px!important;
}
.reviews hr {
  margin-bottom: 15px;
}
.carousel-section {
  background: #1abc9c;
}
.carousel-section div > h2 {
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0;
  padding-top: 5px;
}
.responsive {
  min-height: 1px;
  margin-bottom: 20px;
  background: #ffffff;
}
footer small {
  margin-bottom: 10px!important;
}
.responsive img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.responsive h2 {
  margin-top: 10px;
  margin-bottom: 25px!important;
}
.main-screen > img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
}
.ui-autocomplete {
  list-style-type: none;
  padding: 0;
}
.ui-autocomplete li {
  padding: 5px 20px;
  cursor: pointer;
}
.ekko-lightbox .modal-header {
  display: none;
}
.biz {
  background: #efefef;
  color: #2c3e50;
  text-align: center;
}
.biz .btn.btn-default {
  margin-bottom: 40px;
  font-size: 2em;
  color: #2c3e50;
  background: none;
  padding: 15px 20px;
  border: 4px solid #2c3e50;
}
.biz .btn.btn-default:hover {
  background: #2c3e50;
  color: #ffffff;
}
.biz h2 {
  color: #2c3e50;
  font-size: 3em;
  padding: 20px 0;
}
.sub-space {
  margin-top: 40px!important;
}
