body .vjs-default-skin .vjs-big-play-button {
  background: none;
  border: none;
  box-shadow: none;
  color: #53d289;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
body .vjs-default-skin:hover .vjs-big-play-button,
body .vjs-default-skin .vjs-big-play-button:focus {
  background: none;
  box-shadow: none;
  opacity: .5;
}
body .vjs-default-skin .vjs-play-progress,
body .vjs-default-skin .vjs-volume-level {
  background: #53d289;
}
body .vjs-default-skin .vjs-play-control:hover {
  color: #53d289;
  text-shadow: 0;
}
body .vjs-default-skin .vjs-control:focus:before,
body .vjs-default-skin .vjs-control:hover:before,
body .vjs-default-skin .vjs-slider-handle:before {
  text-shadow: none;
}
