@import "variables.less";
@import "mixins.less";

body,html{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	background:@lightGrey;
    .main{
	margin:53px 0 0 0;
	min-height: 90vh;
	}
	}
	::-moz-selection {
	background-color: @grey;
	color: @white;
	}
	.container.follow{
		margin-bottom: 30px;
	}
	::selection {
	background-color: @grey;
	color: @white;
	}
	.fileUpload {
		position: relative;
		overflow: hidden;
		margin: 10px;
	}
	.fileUpload input.upload {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	select{
		margin-bottom: 15px;
	}
	sup {
	top: -1.5em;
	color:@red;
	}
	.navbar-form.mobile-form{display:none}
	h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a, h6 a{
	color:@blue;
	.transition ( all .3s ease);
	}
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover, h6 a:hover{
	color:@blue;
	}
	a{color:@blue}
	.row{
	margin-left:0;
	margin-right:0;
	}
	.radio, .checkbox{
	margin-top:0;
	}
	a:hover{
	color:@grey;
	text-decoration:none;
	}
	h3{
	font-size:21px;
	}
	.centered{text-align:center;}
	.main{
	position:relative;
	margin:0 auto;
	display:block;
	}
	.container{
		overflow: hidden;
		padding: 0 15px;
	}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
border-radius:0;
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(126, 239, 104, 0.6);
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus,textarea {
border-color: @blue;
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(126, 239, 104, 0.6);
outline: 0 none;
}
.panel{
	margin:30px 10px;
}
.circle{
		display:block;
		.RoundBorders(50%);
		border:4px solid @white;
		width:200px;
		height:auto;
		float:left;
}
.feedback{
	margin: 20px;
	background: @blue;
	color: @white;
	border:none;
	font-size: 1.2em;
	i{
		margin-right: 4px;
	}
	&:hover{
		background: @grey;
		color: @white;
	}
}
.btn-success{
	background: @blue;
	border-color: @blue;
}