@import "variables.less";
@import "mixins.less";

body,html{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	background:@lightGrey;
	position: relative;
    .main{
	margin:53px 0 0 0;
	}
	}
	::-moz-selection {
	background-color: @grey;
	color: @white;
	}
	.container.follow{
		margin: 30px auto;
		 .col-lg-8 .row{
			margin:-30px 0;
		}
	}
	.read-more-show{
		display: block;
	}
	html body .number{
		padding-left: 0!important;
		color:@blue!important;
		font-size: 1em;
	}
	html body .course{
		.number{
			margin-top: 5px;
		}
	}
	.like-it{
	margin-bottom: -54px;
	}
	body .col-xs-12.course{
		padding-left: 0;
		padding-right: 0;
	}
	#hidden{
		position: fixed;
		top:53px;
		left:0;
		z-index: 9995;
		width: 100%;
	}
	html body .labeled{
		background: @blue;
		color:@white;
		padding: 8px 10px;
		line-height: 3;
		margin:10px;
		&:hover{
			color:@white;
			text-decoration: none;
		}
	}
	  .content-status .course-panel h4, .search.scroll .course h4{
	    margin-top: 40px;
	  }
	  .content-status .course-panel small, .search.scroll .course small{
	  	margin-bottom: 10px;
	  	display: block;
	  }
	.results .list-group a {
		padding: 10px 20px;
	}
	.results .list-group .progress{
		margin: 10px 0;
	}
	.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
		position: fixed;
	}
	.ui-autocomplete img{
		width: 30px;
		height: 30px;
		margin:0 10px 0 0;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	}

	.pre-menu-item{
		border-bottom:1px solid @lightGrey;
		padding: 5px 10px;
	}
	.bio p{
	margin:0;
	}
	.alert-info{
		margin-top:20px;
	}
	.place{
		margin:30px 0px!important;
	}
	.length{
		margin-left: 15px;
	}
	#newModal{  z-index: 9999;}
	.question-row{
		margin-top:40px;
	}
	.row >h2{
		margin:0 0 20px 20px;
	}
	.tab-pane .register-button, #test .alert{
		margin-top:0;
	}
	.sub-reg{
		margin-top: 16px!important;
	}
	::selection {
	background-color: @grey;
	color: @white;
	}
	.fileUpload {
		position: relative;
		overflow: hidden;
		margin: 80px 10px;
		&.no-upload{
			margin:10px 0 15px;
		}
	}
	.duration{
		color:@blue;
		display: none;
	}
	.fileUpload input.upload {
		position: absolute;
		top: 0;
		right: 0;
		left:0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.course-panel:hover .duration{
		display: block;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	}
	.course-panel div > a img:hover{
		opacity: .5;
			margin-bottom: 0;
			.transition ( all .3s ease);
			height: auto;
			width: 100%;
	}
	.course-panel:hover div > a img{
		opacity: .5;
			margin-bottom: 0;
			.transition ( all .3s ease);
			height: auto;
			width: 100%;
	}
	.register-button{
		margin-top:20px;
	}
	select{
		margin-bottom: 15px;
	}
	sup {
	top: -1.5em;
	color:@red;
	}
	.navbar-form.mobile-form{display:none}
	h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a, h6 a{
	color:@blue;
	.transition ( all .3s ease);
	}
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover, h6 a:hover{
	color:@blue;
	}
	a{color:@blue}
	.row{
	margin-left:0;
	margin-right:0;
	}
	.radio, .checkbox{
	margin-top:0;
	}
	a:hover{
	color:@grey;
	text-decoration:none;
	}
	h3{
	font-size:21px;
	}
	.centered{text-align:center;}
	.main{
	position:relative;
	margin:0 auto;
	display:block;
	}
	.container{
		overflow: hidden;
		padding: 0 15px;
	}
	.front-video,.front-video .panel{
		padding: 0!important;
		margin: 0 0 20px!important;
	}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
border-radius:0;
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(126, 239, 104, 0.6);
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus,textarea {
border-color: @blue;
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(126, 239, 104, 0.6);
outline: 0 none;
}
.panel{
	margin:0 10px 30px;
}
.circle{
		display:block;
		.RoundBorders(50%);
		border:4px solid @white;
		width:200px;
		height:200px;
		float:left;
}
.activity_rounded {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    border: 4px solid #fff;
}
.reply-form .comment-post{
	margin-top: 15px;
}
.status.comments{
	hr{
		margin-top: 8px;
		margin-bottom: 0px;
	}
	.panel{
		margin: 15px 0;
		background: none;
		box-shadow: none;
		.panel-body{
			background: @white;
		}
		.panel-footer{
			a{margin: 0 15px; color: #333;}
			a:hover{color:@blue}
			a:nth-child(3){margin-left: 0;}
			& > a:first-child{color:@blue;}

		}
	}
}
			.replied{
				margin: 20px 0px 20px 40px!important;
			}
.join.btn-primary{
	margin-bottom: 0px!important;
}
.tab-register{
	h2{
		padding: 0;
		margin-bottom: 20px;
	}
}
.send-message input, .send-message > span{
	min-width:100%!important;
}
.status .comment-text{
	padding: 10px 8px;
}
.feedback{
	margin: 20px;
	background: @blue;
	color: @white;
	border:none;
	font-size: 1.2em;
	i{
		margin-right: 4px;
	}
	&:hover{
		background: @grey;
		color: @white;
	}
}
.fixed{
	position: fixed!important;
	top:52px!important;
	z-index: 9998;
	left:0;
}
.btn-success{
	background: @blue;
	border-color: @blue;
}
#chat{
	margin-top:30px;
}
.contacts-page section,.contacts-page .full-screen{
	padding: 0!important;
}
.pagination .active{
	border-left:0!important;
	padding: 0!important;
}
.tutor-list button{
	margin-top:-26px!important;
}
.progress{
	height:5px;
	box-shadow: none;
	margin: 5px 20px 10px;
	background: @lightGrey;
	.progress-bar{
		background: @blue;
	}
}
.search-page {
	background: @white;
	padding-bottom: 10px;
	h1{
		margin-left: 22px;
	}
}
.absolute-icon{
position: fixed;
top: 0;
left: 0;
z-index: 10000;
display: none;
color:@blue;
padding-top:20%;
text-align: center;
width: 100%;
height: 100%;
background: rgba(44, 62, 80, .6);
}
#choosen {
}
.upload-panel{
	min-height: 390px;
	h3{
		margin-top:0;
	}
	.alert{
		max-width: 500px;
		margin:30px 0;
	}
}
.upload-video-input{
	height:88px;
	top:5px!important;
	width:100%!important;
}
.comment-post{
	margin-bottom: 20px;
	border-radius: 0;
}
.comment-post:focus{
  border-color: @grey;
  box-shadow:none;
  outline: 0 none;
}
.btn.btn-primary{
	background-color: @grey;
	border-color: @grey;
	&.no-upload{
		background-color: @white;
		border-color: @white;
		color:@grey;
		h2{
			color:@grey;
			padding: 30px 20px 20px 120px;
		}
	}
	.fa-cloud-upload{
		font-size: 100px;
		position: absolute;
		left:0;
	}
}
.btn-add-choice, .btn-add-question{
	margin-right: 10px;
	background-color: @blue;
	border-color: @blue;
	float: left;
	color: @white;
	&:hover,&:focus{
	background-color: @blue;
	border-color: @blue;		
	color:@white;
	}
}
.row.blocked{
  overflow: hidden;
  float: left;
  width: 100%;
  margin-top: 10px;
}

.btn-add-choice{
	background: @grey!important;
	border-color: @grey!important;
}
.ask{
	margin-bottom: 30px!important;
	overflow: hidden;
}
footer{
	padding-bottom: 10px!important;
}
.rankings .list-group{
	img{
		float: left;
		display: block;
		width:70px;
		height: 70px;
		.RoundBorders (50%);
	}
	h4{
		line-height: 2;
		margin-left: 5px;
		display: block;
		float: left;
	}
	.pull-right{
		color: @blue;
	}
}
.follow .reviews{
	background: none;
	padding: 0;
	margin-bottom: 0;
}
.fa-star, .fa-star-o{
	color: @blue;

}
.on-end-no-vid{
	left:49%!important;
	top:40%!important;
}
.modal{
	height:100%;
}
.completed{
	background: @blue;
	text-align: center;
	width: 100%;
	height: auto;
	h5{
		color: @white;
		margin-top: 12px;
		font-weight: 900;
	}
	p{
		color:@white;
	}
}
	.animated {
	    -webkit-transition: height 0.2s;
	    -moz-transition: height 0.2s;
	    transition: height 0.2s;
	}

	.stars
	{
	    margin: 20px 0;
	    text-align:left;
	    display: block;
	    font-size: 24px;
	    color: #d17581;
	}
