
.navbar.navbar-default{
    border:none;
    background:@darkGrey;
	border-radius:0;
	.drop-shadow();
	margin-bottom:0px;
	
	.navbar-toggle.collapsed{
	.transition( all .3s ease);
	:hover{
	background:none;
	}
	}
	.navbar-brand{
	padding:14px 5px 10px;
	font-size:30px;
	font-weight:900;
	color:@white;
	&:hover{
	color:@white;
	opacity:.7;
	}
	img{
		width:30px;
		margin-right:5px;
		margin-top:-5px;
		display:inline-block;
	}
	}
		.navbar-toggle{
		  color:@blue;
		  border:none;
		  padding:3px 10px;
		  margin-top:9px;
		  background:none!important;
		  
		}
	.nav.navbar-nav{
		min-height:50px;
	  li{
	  	height:50px;
	    a{
	    height:50px;
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing:1.1px;
		padding:15px 30px 0;
		color: @blue;
		.transition ( all .3s ease)
		}
		a:hover{
		color:@white;
		background:@blue;
		}
	}
}
}