@import "variables.less";
@import "mixins.less";

.modal{
	margin: 50px auto 0;
	.modal-content{
		box-shadow: none;
		border-radius: 0;
		border: 0;
	}
	.fa-times{
		position: absolute;
		right: 20px;
		top: 17px;
	}
	.modal-header{
		background: @blue;
		.modal-title{
			color: @white;
			text-align: left;
		}
	}
	textarea{
		margin-bottom: 15px;
	}
}
#list-modal .modal-body{
	padding: 0;
	border-radius: 0;
	input{
		margin: 20px;
	}
}
#list-modal .modal-dialog, #chat-with .modal-dialog, #exampleModal .modal-dialog, #newModal .modal-dialog{
	width: 320px;
}
#list-modal .modal-body, #chat-with .modal-body{
		max-height: 300px;
		overflow: auto;
		::-webkit-scrollbar {
		    width: 12px;
		}
		 ::-webkit-scrollbar-thumb {
		    background: rgba(44, 62, 80,1.0); 
		}
		::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(44, 62, 80,.5); 
		}
}
.modal-body{
	border-radius: 0;
}
#list-modal .list-group{
		margin-bottom: 0;
		button{
			cursor: pointer;
			border-radius: none;
			border: none;
			width:100%;
			min-height:46px;
			line-height: 2;
			text-align: left;
			&:hover{
				background:@lightGrey;
			}
		}

		}
#chat-with .modal-body{
		button#send-message{
			width:auto;
			background: @grey;
			color:@white;
			border:0;
		}
	}