@import "variables.less";
@import "mixins.less";

.panel{
	border-radius: 0;
	border:0;
	h1,h2{
		margin-top: 0;
	}
}
.panel.panel-default.actions{
	.panel-heading{
		background: @blue;
		border-bottom: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		h3 a, h3{
			color:@white;
			font-weight: 900;
		}
		 a{
			color:@grey;
		}
	}
	.panel-body{
		padding: 0;
	}
	.panel-body.padding-panel{
		padding: 20px;
		img{
			float: none;
		}
	}
	.list-group{
		font-size: 1em;
		margin-bottom: 0;
		border-radius: 0;
		.active{
			background: none;
			border-left:4px solid @grey!important;
			color:@grey;
			padding-left: 20px;
		}
		.list-group-item{
			border: 0;
		}
		.list-group-item:first-child{
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
		.list-group-item:last-child{
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
.panel.panel-default.description{
	.panel-body{
	padding: 0;
	p{
		padding: 30px;
		margin: 0;
	}
	img{
		width: 100%;
		display: block;
	}
	}
}
.panel.panel-default.course-panel{
	.panel-body{
		padding: 0;
		overflow: hidden;
		h4, h3, p{
			padding: 0 20px;
		}
		img{
			width: 100%;
			display: block;
			.transition ( all .3s ease);
		}
		img:hover{
			opacity: 0.4;
			-webkit-transform: scale3d(1.1,1.1,1);
			transform: scale3d(1.1,1.1,1);
		}
	}
}
.settings-panel{
	.input-group, textarea.form-control{
		max-width: 400px;
	}
	input{
		width: auto;
	}
}
.playlist-panel{
		::-webkit-scrollbar {
		    width: 12px;
		}
		 ::-webkit-scrollbar-thumb {
		    background: rgba(44, 62, 80,1.0); 
		}
		::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(44, 62, 80,.5); 
		}
	.list-group{
		overflow: auto;
		height:auto;
		max-height: 250px;
	}
	.active{
		font-weight: 900;
	}
}
	.author-card .panel-heading{
		background: @blue;
		border-radius: 0;
		h3{
			color:@white;
			font-weight: 900;
		}
	}
.student-card{
	margin-bottom: 0;
	img{
		width: 100px;
		height: 100px;
		display: block;
		float: left;
		.RoundBorders(50%);
	}
	h4{
		margin: 20px 10px 10px 20px;
		display: block;
		float: left;
		max-width: 70%;
	}
	small{
		margin: 0 10px 0 20px;
		display: block;
		float: left;
		max-width: 100px;
	}
	.row p{
		padding:0 20px;
	}
	span.country{
		margin-left: 0;
		left:105px;
		top:45px;
		width: 25px;
		height: 25px;
		background-size: 30px!important;
	}
	.author span.country{
		top:80px;
	}
	span.age{
		margin-left: 0;
		left:130px;
		top:70px;
		width: 25px;
		height: 25px;
		text-align: center;
		padding: 2px 0 0 0;
		font-size: 12px;
	}
	.author span.age{
		top:105px;
	}
}
.small-profile{
	.RoundBorders(50%);
	float: left;
	width: 30px!important;
	height: 30px;
	margin-right: 5px;
}
.course{
	strong{
		line-height: 2;
	}
}
.tab-content{
		::-webkit-scrollbar {
		    width: 12px;
		}
		 ::-webkit-scrollbar-thumb {
		    background: rgba(44, 62, 80,1.0); 
		}
		::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(44, 62, 80,.5); 
		}
 .panel.panel-default.actions:first-child{
	height: 300px;
	overflow: auto;
	
}
}
.message-list{
	.btn.btn-default{
		position: absolute;
		right: 38px;
		background: none;
		border: none;
		font-size: 18px;
		top:36px;
		padding: 0px 5px;
	}
	}
 .message-list a{

line-height: 2;
cursor: pointer;
.badge{
	background: @grey;
	top: 3px;
	position: absolute;
	right: 10px;
	top: 14px;
}
}
.status {
	.heading{
		margin-bottom: 0;
		overflow: hidden;
		img{
			margin-bottom: 0;
		}
	}
	p{
		padding: 20px;
		line-height: 2;
	}
	p:first-child{
		margin-bottom: 0;
	}
	hr{
		margin-top: 0;
		width: 100%;
	}
	img{
		width: 100%;
		margin-bottom: 20px;
	}
	.content-status{
		margin: 0 20px;
	}
	.course  .panel-body{
		border: 1px solid @lightGrey;
		div:first-child img{margin: 0}
		p:last-child{
			line-height: 1;
			float: left;
		}
	}
}
.clock{
	float: right;
	margin: 15px 20px 0 0;
	font-size: 24px;
	color:@lightGrey;
	cursor: pointer;
	.transition ( all .5s ease);
	&:hover {
		color:@grey;
	}
	i{
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
	}
}