@import "variables.less";
@import "mixins.less";

.panel{
	border-radius: 0;
	border:0;
	h1,h2{
		margin-top: 0;
	}
}
.panel.panel-default.actions{
	.panel-heading{
		background: @blue;
		border-bottom: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		h3 a, h3, h1{
			color:@white;
			font-weight: 900;
		}
		 a{
			color:@grey;
		}
	}
	.panel-body{
		padding: 0;
	}
	.panel-body.padding-panel{
		padding: 20px;
		img{
			float: left;
		}
	}
	.list-group{
		font-size: 1em;
		margin-bottom: 0;
		border-radius: 0;
		.active{
			background: none;
			border-left:4px solid @grey!important;
			color:@grey;
			padding-left: 20px;
		}
		.list-group-item{
			border: 0;
			overflow: hidden;
		}
		.tutor-list{
			background: none;
		}
		.edit-lesson{
			color:@grey;
			position: absolute;
			right:30px;
			margin-top:-30px;
			i{
				padding: 5px;
			}
		}
		.list-group-item:first-child{
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
		.list-group-item:last-child{
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;

		}
	}
}
.panel.panel-default.description{
	.panel-body{
	padding: 0;
	p{
		padding: 30px;
		margin: 0;
	}
	img{
		width: 100%;
		display: block;
	}
	}
}
.panel.panel-default.course-panel{
	overflow: hidden;
	.panel-body{
		padding: 0;
		overflow: hidden;
		h4,h1, h3, p{
			padding: 0 20px;
		}
		h1{
			margin-top:40px;
			strong{
				line-height: 1;
			}
		}
		img{
			margin-bottom: 0;
			.transition ( all .3s ease);
			height: auto;
			width: 100%;
		}
		.col-xs-12.col-lg-3{
			overflow: hidden;
		img{
			margin-bottom: 0;
			.transition ( all .3s ease);
			height: auto;
			width: 100%;
		}
	}
		img:hover{
			opacity: 0.9;
			-webkit-transform: scale3d(1.1,1.1,1);
			transform: scale3d(1.1,1.1,1);
		}
	}
}
.settings-panel{
	.input-group, textarea.form-control{
		max-width: 400px;
	}
	input{
		width: auto;
	}
}
.playlist-panel{
		::-webkit-scrollbar {
		    width: 12px;
		}
		 ::-webkit-scrollbar-thumb {
		    background: rgba(44, 62, 80,1.0); 
		}
		::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(44, 62, 80,.5); 
		}
	.list-group{
		overflow: auto;
		height:auto;
		max-height: 250px;
	}
	.list-group-item{
		height: auto;
		overflow: hidden;
	}
	.active{
		font-weight: 900;
	}
}
.follow .author-card .student-card{
	margin-bottom: 0;
}
.author-card{
	.student-card{
		margin: 0 10px 30px;
	}
	hr{
		margin-top: 0;
		margin-bottom: 10px;
		width: 100%;
	}
}
	.author-card .panel-heading{
		background: @blue;
		border-radius: 0;
		h3{
			color:@white;
			font-weight: 900;
		}
	}
.student-card{
	margin-bottom: 30px;
	img{
		width: 100px;
		height: 100px;
		display: block;
		float: left;
		.RoundBorders(50%);
	}
	h4{
		margin: 20px 10px 10px 20px;
		display: block;
		float: left;
		max-width: 150px;
	}
	small{
		margin: 0 10px 0 20px;
		display: block;
		float: left;
		max-width: 100px;
	}
	.row p{
		padding:0 20px;
	}
	span.country{
		margin-left: 0;
		left:125px;
		top:25px;
		width: 25px;
		height: 25px;
		background-size: 30px!important;
	}
	.author span.country{
		top:initial;
		margin-top:10px;
	}
	span.age{
		margin-left: 0;
		left:130px;
		top:55px;
		width: 25px;
		height: 25px;
		text-align: center;
		padding: 2px 0 0 0;
		font-size: 12px;
	}
	.author span.age{
		top:initial;
		margin-top:40px;
		left:120px;
		margin-left: 10px;
	}
}
.small-profile{
	.RoundBorders(50%);
	float: left;
	width: 30px!important;
	height: 30px;
	margin-right: 5px;
}
.course{
	strong{
		line-height: 2;
	}
}
.tab-content{
		::-webkit-scrollbar {
		    width: 12px;
		}
		 ::-webkit-scrollbar-thumb {
		    background: rgba(44, 62, 80,1.0); 
		}
		::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(44, 62, 80,.5); 
		}
 .panel.panel-default.actions:first-child{
	height: 300px;
	overflow: auto;
	
}
}
.message-list{
	margin-top: 30px;
	.btn.btn-default{
		position: absolute;
		right: 38px;
		background: none;
		border: none;
		font-size: 18px;
		top:36px;
		padding: 0px 5px;
	}
	}
 .message-list a{
	line-height: 2;
	cursor: pointer;
.badge{
	background: @grey;
	top: 3px;
	position: absolute;
	right: 10px;
	top: 14px;
}
}
.author-card.student-card{
	margin-bottom: 30px;
}
.status {
	.heading{
		margin-bottom: 0;
		overflow: hidden;
		img{
			margin-bottom: 0;
		}
	}
	p{
		padding: 20px 20px 5px;
		line-height: 2;
	}
	p:first-child{
		margin-bottom: 0;
	}
	hr{
		margin-top: 0;
		width: 100%;
	}
	img{
		width: 100%;
		margin-bottom: 20px;
	}
	.content-status{
		margin: 0 20px;
	}
	.course  .panel-body{
		border: 1px solid @lightGrey;
		div:first-child img{margin: 0}
		p:last-child{
			line-height: 1;
			float: left;
		}
	}
}

.clock{
	display:block;
	color:@grey;
	margin:0 0 20px 20px;
	font-size: 18px;
	i{
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
	margin:0 8px;
	}
}
.no-timeline{
	h2{
		margin-bottom: 0;
	}
}
.no-messages{
	padding-top:34vh;
	.btn.btn-default{
		background: none;
		border: none;
	}
}
.missing-page{
	background: @grey;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	z-index: 9999;
	text-align: center;
	img{
		display:block;
		margin: 0 auto;
	}
	h1{
		font-weight: 900;
		font-size:6em;
	}
	p{
		color:@white;
		font-size:2em;
	}
	a:hover{
		color:@blue;
		text-decoration: underline;
	}
}
@media screen and (max-width: 500px){
	.settings-panel, .action{
		margin:30px 0 0 0;
	}
	body .course-section{
		img{
			margin:0 auto;
		}
	}
	body .status {
		.content-status{
		margin:0;
		.course .panel.panel-default{
			margin:0;
		}
		}
		hr{
			display: none;
		}
	}
	body .tabs-profile{
		padding: 0!important;
		 .container{
			padding:0;
		}
		.nav.nav-pills li{
			font-size: 12px;
		}
	}
}
.question strong{
	line-height: 2;
}
.bio p{
	margin-bottom: 0;
}