.full-screen{
padding:170px 0 20px;
  min-height:100vh;
  height:auto;
  width:100%;
  .more{
  	text-align:center;
  	max-width:50px;
  	margin:50px auto 0;
  	display:block;
  	color:@blue;
  	&:hover{
  		opacity:.7;
  	}
  }
  	.col-sm-3{
  		i{
  			text-align:center;
  			display:block;
  			margin:10px auto;
  		}
	  	p{
		padding:10px 20px;
		text-align:center;
		margin-bottom:0;
		}
  }
&.main-screen{
  background: url(../img/74__2.jpg) no-repeat center center; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
&.learn-screen, &.explore{
	padding:80px 0 80px;
	background:@white;
	display:block;
	min-height:1px;
	div > h1{
		margin-bottom:40px;
		font-weight:900;
	}
}
&.testimonials{
	background:@blue;
	padding:80px 0 80px;
	min-height:1px;
	color:@white;
	text-align:center;
	h2, h3{
	color:@white;
	text-align:center;
	}
	i{display:block;}
	.carousel-indicators{
		bottom:0px;
	}
	.carousel-inner h3 {
		padding:10px 0 40px;
	}
}
	h2{
		font-weight:900;
	}
}




