@import "variables.less";
@import "mixins.less";
.absolute-screen{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  background: @grey;
  color:@white;
  position: fixed;
  overflow-y: hidden;
  z-index: 9999;
    h2{
      margin-top: 23%;
      color:@white;
      font-size: 2em;
      font-weight: 900;
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
    }

}
.full-screen{
  padding:30px 0 0px;
  min-height:100vh;
  height:auto;
  width:100%;
  .more{
  	text-align:center;
  	max-width:50px;
  	margin:50px auto 0;
  	display:block;
  	color:@blue;
  	&:hover{
  		opacity:.7;
  	}
  }
  .users-left{
    margin-bottom: 20px;
    font-weight: 300;
  }
  	.col-sm-3{
  		i{
  			text-align:center;
  			display:block;
  			margin:10px auto;
  		}
	  	p{
		padding:10px 20px;
		text-align:center;
		margin-bottom:0;
		}
  }
  .course .social{
    margin-bottom: 20px;
  }
&.us{
  background: url(../img/86.jpg) no-repeat center center; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
&.main-screen{
  background: url(../img/DSC.jpg) no-repeat center center; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  & > img{
    display: block;
    margin: 0 auto;
  }
  h2{
    color:@grey;
    margin-bottom: 40px;
  }
}
&.teach-screen{
  background: url(../img/19.jpg) no-repeat center center; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
}
&.explore{
 background: url(../img/study.png) no-repeat center center; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px!important;
  h1{
  	text-align: center;
  	margin-top:70px;
  	color: @white;
  }
  &.new-here{
 background-image: url(../img/IMG_1474.jpg)!important; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px!important;
}
}
&.learn-screen{
    background: @white;
    img{
      display: block;
      margin: 0 auto;
    }
}
&.learn-screen, &.explore{
	padding:65px 0 80px;
	display:block;
	min-height:1px;
	div > h1{
		margin-bottom:60px;
		font-weight:900;
	}
  &.like-it{
    div > h1{
      margin-bottom: 20px;
    }
    p{
      display: block;
      color:@white;
    }
    .btn.btn-default{
      border:3px solid @blue;
      background: @blue;
      color:@white;
      margin-top: 20px;
      font-size: 20px;
      letter-spacing: 1px;
    }
  }
}
&.testimonials{
	background:@blue;
	padding:65px 0 80px;
	min-height:1px;
	color:@white;
	text-align:center;
	h1, h3{
	color:@white;
	text-align:center;
  font-weight: 900;
	}
	i{display:block;}
	.carousel-indicators{
		bottom:0px;
	}
	.carousel-inner h3 {
		padding:10px 0 40px;
	}
}
	h2{
		font-weight:900;
	}
}


.carousel-section{
  background: @blue;
}
.carousel-section div > h2{
  color:@white;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0;
  padding-top: 5px;
}

